$dark: rgb(31, 32, 65);
$purple: #BC9CFF;
$green: #6FCF97;
$primaryGrad: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
$secondaryGrad: linear-gradient(180deg, #6FCF97 0%, #66D2EA 100%);
$orangeGrad: linear-gradient(180deg, #FFE39C 0%, #FFBA9C 100%);
$blackGrad: linear-gradient(180deg, #919191 0%, #3D4975 100%);