extends ./../../templates/ui-kit__template.pug

block variables
  - const document_title = "Metalamp Task 2 | Hotel Toxin"


block header
  header Header block

block content
  main Content block

  a(href="ui-kit__form-elements.html") go to ui-kit__form-elements page

block footer
  footer Footer block
